<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="REDISTOGO_URL" value="localhost" />
    <add key="REDISTOGO_PORT" value="6379" />
    <add key="REDISTOGO_PWD" value="myLocalPassword" />
    <add key="MAILGUN_API_KEY" value="" />
    <add key="MAILING_LIST" value="" />
    <add key="MOVIE_URL" value="moviesremember.apphb.com/Showing/DisplayMovie?code=" />
    <add key="MAIL_DOMAIN" value="" />
    <add key="Environment" value="Debug" />
  </appSettings>
  <connectionStrings>
    <!-- The connectionStrings is replaced by AppHarborSettings -->
    <add name="MoviesRememberDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MoviesRememberDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IMailService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://mailingapi.apphb.com/MailService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailService"
          contract="MailService.IMailService" name="BasicHttpBinding_IMailService" />
      </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>