<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- The connectionStrings is replaced by AppHarborSettings -->
    <add name="MoviesRememberDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MoviesRememberDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="REDISTOGO_URL" value="localhost"/>
  </appSettings>
</configuration>